:root {
    scroll-behavior: smooth;
}

body {
    background-color: #2C3038;

    animation-name: background-fade;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* TODO: Relocate if used */
/* TODO: Consider renaming */
@keyframes background-fade {
    from { background-color: #2C3038; }
    to   { background-color: #2E3440; }
}

#title {
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: #878268 solid 2px;
}

#content {
    font-family: inherit;
    width: fit-content;
    padding-right: 1rem;
    /*
    This relates to the `#top-link-container { margin-top }` property and ensures that some
    of the poem remains visible when the user scrolls to the bottom of the page.
    */
    margin-bottom: -10rem;
}

#top-link-container {
    /* For Safari 12.1 and earlier */
    position: -webkit-sticky;
    position: sticky;
    bottom: -0.2rem;

    margin-top: 94vh;
    margin-left: min(29rem, calc(100vw - 6.2rem));
}

#top-link-container img {
    width: 3rem;
    height: 3rem;
    opacity: 0.1;
}
