/* reset.css */
* {
    margin: 0;
    padding: 0;
    color: #DDD;
    text-decoration: none;
}

pre {
    all: revert;
    margin: 0;
}

/* common.css */
/* #region static styling */
@font-face {
    font-family: "Font Serif";
    src:
        local("Josefin Slab"),
        url(josefin-slab-regular.ttf) format("truetype")
}

@font-face {
    font-family: "Font Sans Serif";
    font-size: 1rem;
    src:
        local("Noto Sans JP Thin"),
        url(noto-sans-jp-thin.otf) format("opentype")
}

body {
    background-color: #333;

    font-family: "Font Serif";
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 3rem;
}

pre {
    font-family: "Font Serif";
}

a, button {
    cursor: pointer;
}

h1 {
    font-size: 4rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

body.reading {
    padding: 1rem 2.3rem;
}

.font-sans-serif {
    font-family: "Font Sans Serif";
}

.font-serif {
    font-family: "Font Serif";
}

.text-accent {
    color: #D9C66A;
}

.text-subtle {
    color: #999;
}

.underline {
    text-decoration: underline;
}
/* #endregion */

/* #region animations */
.fade-in {
    opacity: 0;

    animation-name: fade-in;
    animation-duration: 4s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* #endregion */
